.bottom-info-frame {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: 2s ease-in-out;
}

.bottom-info-frame:hover {
  opacity: 1;
  transition: 1.5s;
}

.bottom-info-frame a {
  color: white;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.bottom-info-frame a:hover {
  transform: scale(1.2);
}
