.bottom-info-frame {
  height: 100px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 2s ease-in-out;
}

.bottom-info-frame:hover {
  opacity: 1;
  transition: 1.5s;
}

.bottom-info-frame a {
  margin: 10px;
  display: flex;
}
