.git_repo_frame {
  margin: 10px;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.git_repo_frame a {
  color: white;
  text-decoration: none;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: 0.5s ease-in-out;
}

.git_repo_frame a:hover {
  width: 90%;
  background-color: gray;
}
