.menu-bar {
  height: 60px;
  width: auto;
  background-color: black;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.name-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 10px;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
}

.menu-bar-detail {
  display: flex;
  height: auto;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.menu-bar-detail a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.menu-bar-detail a:hover {
  border: solid 2px white;
  width: 50%;
  transition: width 0.5s ease-in-out;
}
.menu-bar-detail a:active {
  background-color: gray;
}
