.project_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.project_frame_div {
  background-color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 10px;
  color: white;
}
